body{
    
    background-image: url(../images/background2.jpg);
    background-repeat: repeat;
    padding: 20px;
    margin-top: 5%;
    margin-right: 5%;
}

h3{
    padding: 35px;
    text-align: center;
}

html {
    
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
	height: 100%;
	margin-bottom: 0.01em;
}

.content {
  max-width: 100%;
  margin-left: 100px;
}

video,
img {
  height: 400px; 
    height: 300px;
    padding: 5px;
}

